<?xml version="1.0" encoding="UTF-8"?>
<!--
  Logs lisibles en profil local, JSON structuré (ECS) en profil dev/prod.
-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Profil local et profil par défaut (si aucun -Dspring.profiles.active n'est fourni) -->
    <springProfile name="local, default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{36}) %X{correlationId} - %msg%n%wEx</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- Profil test -->
    <springProfile name="test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} %X{correlationId} - %msg%n%wEx</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- Profils dev et prod (Logging JSON ECS) -->
    <springProfile name="dev,prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">
                <format>ecs</format>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
